.body{
    display: flex;
    
    width: 1200px;
    height: 600px;
    margin:auto;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    
}
.nav{
    width: 200px;
    height: 600px;
    background-color: pink;
}
.header{
    width: 1000px;
    height: 100px;
    background-color: burlywood;
}
.article{
    width: 700px;
    height: 400px;
    background-color: cornsilk;
}
.footer{
    width: 1000px;
    height: 100px;
    background-color: rgb(208, 255, 0);
}
.aside{
    width: 300px;
    height: 400px;
    background-color: rgb(223, 15, 53);
    position: absolute;
    right: 83px;
    margin-top: 100px;
}