body{
    width: 1200px;
    height: 600px;
    background-color: pink;
    margin: auto;
    font-family: sans-serif;
    font-size: x-large;
}
header{
    width: 90%;
    height: 70px;
    background-color: powderblue;
    color: white;
    
    
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}
.aside{
    width: 300px;
    height: 400px;
    background-color: steelblue;
    color: aliceblue;
    text-align: center;
}
.article{
    height: 400px;
    width: 750px;
    background-color: tomato;
    display: flex;
    ;
    align-items: flex-end;
    
}
.img{
    width: 200px;
    height: 200px;
    background-color: thistle;
    margin: 30px;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    padding-top:20px;
;
}
.container{
    display: flex;
   
    padding-top: 20px;
    justify-content: space-between;
    width: 90%;
}
footer{
width: 90%;
height: 70px;
background-color: powderblue;
color: white;


margin-top: 30px;
padding-top: 20px;
text-align: center;
margin-bottom: 30px;
}