div{
    display: flex;

    width: 900px;
    height: 100px;
    margin: auto;
    flex-direction: row-reverse;
}
img{
    border: 4px solid black;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    margin: 10px;
}